*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
public/static/
public/media/
*-env/
rapidsms.log
settings_local.py
*.json
ignore*
django_ccem/templates/facility_list_cache.html
