{% extends 'ccem_sim/base.html' %}
{% load url_extras %}

{% block custom_style %}
	#contact-list {
		cursor:pointer;
	}
{% endblock %}

{% block script_onload %}
	$('#contact-list>tbody>tr').click(function(){
		window.location = window.location + $(this).attr('href');
	});
{% endblock %}


{% block content %}

<table id='contact-list' class='table table-striped table-hover'>
	
	<thead><tr class='info'>
		<th>Number</th>
		<th>Name</th>
		<th>Facility</th>
		<!-- <th>Last Message</th> ToDo: Add this feature -->
	</tr></thead>
	
	<tbody>
		{% for c in connections %}
			<tr href='{{ c.identity }}'>
				<td>{{ c.identity }}</td>
				<td>{{ c.dhis2.contact.name }}</td>
				<td>{{ c.dhis2.contact.facility }}</td>
			</tr>
		{% endfor %}
	</tbody>
	
</table>

{% endblock %}
