{% extends 'ccem_sim/base.html' %}
{% load url_extras %}

{% block left_panel %}
	<div style="height:400px; overflow:scroll;">
	<ul class="nav nav-pills nav-stacked">
		{% for c in contacts %}
		<li {% if request.GET.contact == c.identity %} class="active" {% endif %}>
			<a href="{% url 'django_ccem.views.contacts' %}?contact={{ c.identity }}">{{ c.dhis2.contact.name }} | {{ c.identity }}</a>
		</li>
		{% endfor %}
	</ul>
	</div>
{% endblock %}	


{% block content %}
{% if contact_detail %}
<div class='panel panel-primary'>
	<div class='panel-heading'>
		<h3 class='panel-title'>Contact Details</h3>
	</div>
	<div class='panel-body container-fluid'/>
		<dl class="dl-horizontal">
		  <dt>Name:</dt><dd>{{contact_detail.name}}</dd>
		  <dt>Number:</dt><dd>{{contact_detail.phone_number}}</dd>
		  <dt>Health Unit:</dt><dd>{{contact_detail.facility}}</dd>
		</dl>
		<div class='row'><div class='col-md-6 col-md-offset-3'><div class='panel panel-info'>
			<div class='panel-heading' data-toggle='collapse' data-target='#sendForm'>
				<h5 class='panel-title'>Send Message</h5>
			</div>
			<div class='panel-body collapse' id='sendForm'>
				<form method='POST' class='form'>
					{% csrf_token %}
					<div class="form-group">
						<textarea class="form-control" rows="5" name='message' ></textarea>
					</div>
					<div class='form-group'>
						<input type='submit' class='form-control' value='Send'/>
					</div>
				</form>
			</div>
		</div></div></div>
	</div>
</div>
{% elif request.GET.contact != None and messages %}{### Anonymous Connection ###}
<div class='panel panel-warning'>
	<div class='panel-heading'>
		<h3 class='panel-title'>Message</h3>
	</div>
	<div class='panel-body'>
		Anonymous connection. No contact details found for {{request.GET.contact}}
	</div>
</div>
{% else%} {### Connection not found ###}
<div class='panel panel-warning'>
	<div class='panel-heading'>
		<h3 class='panel-title'>Message</h3>
	</div>
	<div class='panel-body'>
		Please select a contact from the left panel.
	</div>
</div>
{% endif %}

{% if messages %}
<div class='row'><div class='col-md-6 col-md-offset-3'><div class='panel panel-primary'>
	<div class='panel-heading'>
		<h3 class='panel-title'>Messages</h3>
	</div>
	<div class='panel-body container-fluid'>
{% for m in messages %}
	<div class='row'>
	{% if m.direction = 'I' %}
	<div class='panel panel-info col-md-6 col-md-offset-1'>
		<span>{{ m.text }}</span>
		<span class="glyphicon glyphicon-{% if m.is_submission %}ok-sign{% else %}question-sign{% endif %}"></span>
		<div><small>{{ m.created }}</small></div>
	</div>
	{% else %}
	<div class='panel panel-success col-md-6 col-md-offset-5'>
		<span class="glyphicon glyphicon-share-alt"></span>
		<span>{{ m.text }}</span>
		<div><small>{{ m.created }}</small></div>
	</div>
	{% endif %}
	</div>

{% endfor %}

<div class='pager'>

{% if messages.has_previous %}
	<li><a href="?{% url_replace request 'page' messages.previous_page_number %}">Previous</a></li>
{% else  %}
	<li class='disabled'><a href='#'>Previous</a><li>
{% endif %}

{% if messages.paginator.num_pages > 1 %}
Page <form action='#', method='get'>
	<input type='text' name='page' value='{{messages.number}}'/>
	<input type='submit' value='Go'/>
	</form> of {{messages.paginator.num_pages }}
{% else %}
	Page 1 of 1
{% endif %}
({{ messages.count }} Messages)

{% if messages.has_next %}
	<li><a href="?{% url_replace request 'page' messages.next_page_number %}">Next</a></li>
{% else  %}
	<li class='disabled'><a href='#'>Next</a></li>
{% endif %}

</div></div></div>

{% elif contact_detail %}

<div class='panel panel-warning'>
	<div class='panel-heading'>
		<h3 class='panel-title'>Message</h3>
	</div>
	<div class='panel-body'>
		No messages were found for this contact.
	</div>
</div>

{% endif %}

{% endblock %}
