<ul class="nav nav-pills nav-stacked tree tree_head_ele">
{% for facility in parent_org.children.all %}
	<li class="tree_link_ele1">
		<label class="tree-toggler nav-header">{{facility}}</label>
		{% if facility.children.count > 0 %}
			{% with parent_org=facility template_name='facility_heirarchy.html' %}
				{% include template_name %}
			{% endwith %}
		{% endif %}
		{% if facility.facility_set.count > 0  %}
			{{facility.facilities.count}}
			<ul class="nav nav-pills nav-stacked tree tree_head_ele">
			{% for facility in facility.facility_set.all %}
				<li class="tree_link_ele" id="f_{{facility.dhis2_id}}">
					<a href="/moderation/facilities/?id={{facility.dhis2_id}}">
						{{facility}}
					</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endfor %}
</ul>
