{% extends 'ccem_sim/base.html' %}

{% load url_extras %}

{%block extra_stylesheets %}
<style>
    .tree_head_ele {padding-left:5px; font-size: 12px;}
    .tree_link_ele {padding-left:0px; font-size: 12px;}
    .tree_link_ele1 {padding-left:15px; font-size: 12px;}
</style>
{% endblock %}

{% block extra_javascript %}
<script>
    var facility_id = "{{ facility.dhis2_id }}";
    $(document).ready(function () {
    	$('label.tree-toggler').click(function () {
    		$(this).parent().children('ul.tree').toggle(300);
    	});
        $('label.tree-toggler').parent().children('ul.tree').hide();
        if(facility_id!=""){
            var p = $('#f_{{facility.dhis2_id}}').parent()
            while(p.attr("id")!="facility_list_ctn"){
                p.children('ul.tree').toggle(0);
                p = p.parent();
            }
            var t = $("#f_"+facility_id);
            t.attr("class","active "+$("#f_"+facility_id).attr("class"));
        }
    });
</script>
{% endblock %}

{% block left_panel %}
	<div id="facility_list_ctn" style="overflow-y: auto; overflow-x: hidden; height: 500px;">
        {% include facility_list %}
    </div>
{% endblock %}	

{% block content %}
{% if facility != None %}
<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h3 class='panel-title'>Facility Details</h3>
    </div>
    <div class='panel-body container-fluid'/>
        <dl class="dl-horizontal">
            <dt>ID:</dt><dd>{{facility.dhis2_id}}</dd>
            <dt>Name:</dt><dd>{{facility}}</dd>
            <dt>Code:</dt><dd>{% if facility.dhis2_code %} {{facility.dhis2_code}} {% endif %}</dd>
            <dt>Level:</dt><dd>{{facility.level}}</dd>
            <dt>Contact{{contacts|pluralize}}:</dt>
            <dd>
               <table class='table'>
                    {% for contact in contacts %}
                    <tr><td>
                        <a href='{% url "django_ccem.views.contacts" %}{{contact.connection.identity}}'>
                            {{ contact.contact.name }} | {{ contact.connection.identity }}
                        </a>
                    </td></tr>
                    {% empty %}
                        <tr><td>No Contacts</td></tr>
                    {% endfor %}
                </table>
            </dd>
        </dl>
    </div>
</div>
{% else %}
<div class='panel panel-warning'>
    <div class='panel-heading'>
        <h3 class='panel-title'>Facility</h3>
    </div>
    <div class='panel-body'>
       {% if request.GET.id == None %}
        Please select a facility from the left panel.
        {% else %}
        Facility for that ID does not exist in database.
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}

