
<div class="panel panel-primary">
	<div class='panel-heading chevron' data-toggle='collapse' data-target='#filter-panel'>
		<h4 class="panel-title">Filter  <span class='glyphicon glyphicon-chevron-{% if request.GET.start or request.GET.end %}up{% else %}down{% endif %}'></span></h4>
	</div>
	<div id='filter-panel' class='panel-collapse collapse {% if request.GET.start or request.GET.end %}in{% endif %}'><div class='panel-body'>
		<form class='form-inline' id='filterForm' action='' method='GET'>
				<div class='form-group'>
					<input class='form-control' type='button' value='Clear' id='filterClear'/>
				</div>
				<div class='form-group'>
					<label for='start' >Start</label>
					<div class='input-group date' data-provide='datepicker' data-date-format='dd/mm/yy' data-date-autoclose='true' data-date-clear-btn='true'>
						<input class='form-control datepicker' placeholder='dd/mm/yy' value='{{ request.GET.start }}' type='text' name='start' id='start'/>
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div>
				<div class='form-group'>
					<label for='end'>End</label>
					<div class='input-group date' data-provide='datepicker' data-date-format='dd/mm/yy' data-date-autoclose='true' data-date-clear-btn='true'>
						<input class='form-control'  value='{{ request.GET.end }}' placeholder='dd/mm/yy'  type='text' name='end' id='end'/>
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div>
				<div class='form-group'>
					<input class='form-control' type='submit' value='Go'/>
				</div>
		</form>
	</div></div>
</div>
