{% extends 'ccem_sim/base.html' %}

{% block content %}
{{request.path}}
<table class="table table-striped table-bordered">
<tr>
	<th>Date</th>
	<th>Message</th>
</tr>
{% for m in messages %}
<tr>
	<td>{{ m.created }}</td>
	<td onclick="document.getElementById('ele_{{ m.id }}').style.display='block';">{{ m.message.text }}
		<div class="panel panel-default" style="display:none" id="ele_{{ m.id }}">
		  <div class="panel-body">
		  	<ul>
		    {% for r in m.report_set.all %}
		    	<li>{{ r.response.text }}</li>
		    {% empty %}
		    	<li>No Report</li>
		    {% endfor %}
			</ul>
		  </div>
		</div>
	</td>
	<td>{{ m.message.connection.identity }}</td>
</tr>
{% endfor %}
</table>

<div class='pager'>

{% if messages.has_previous %}
	<li><a href='?page={{ messages.previous_page_number }}'>Previous</a></li>
{% else  %}
	<li class='disabled'><a href='#'>Previous</a><li>
{% endif %}

Page {{messages.number}} of {{messages.paginator.num_pages }}

{% if messages.has_next %}
	<li><a href='?page={{ messages.next_page_number }}'>Next</a></li>
{% else  %}
	<li class='disabled'><a href='#'>Next</a></li>
{% endif %}


{% endblock %}
