{% extends 'ccem_sim/base.html' %}
{% load url_extras %}

{% block script_onload %}
	$('#filterClear').click(function(){
		$('#filterForm').find('input[type="text"]').val('');
	});
	$('.panel-heading.chevron').click(function(){
		$(this).find('span').toggleClass('glyphicon-chevron-down').toggleClass('glyphicon-chevron-up');
	});
{% endblock %}

{% block left_panel %}
	<ul class="nav nav-pills nav-stacked">
		<li {% if request.GET.type == None %} class="active" {% endif %}><a href="{% url 'django_ccem.views.messages' %}">All</a></li>
		<li {% if request.GET.type == 'regular' %} class="active" {% endif %}><a href="{% url 'django_ccem.views.messages' %}?type=regular">Regular</a></li>
		<li {% if request.GET.type == 'submission' %} class="active" {% endif %}><a href="{% url 'django_ccem.views.messages' %}?type=submission">Submission</a></li>
		<li {% if request.GET.type == 'outgoing' %} class="active" {% endif %}><a href="{% url 'django_ccem.views.messages' %}?type=outgoing">Outgoing</a></li>
		<li {% if request.GET.type == 'flagged' %} class='active' {% endif %}><a href="{% url 'django_ccem.views.messages' %}?type=flagged">Flagged</a></li>
	</ul>
{% endblock %}

{% block content %}

{% include 'form_filter.html' %}

{% if messages %}

<table class="table table-hover table-bordered">
<tr class='info'>
	<th style="width:200px"><span class="glyphicon chevron-down"></span>Date</th>
	{% if request.GET.type == None %}<th>Direction</th>{% endif %}
	<th style="width:500px">Message</th>
	<th style="width:150px">Contact</th>
	<th>Health Unit</th>
</tr>
{% for m in messages %}
<tr>
	<td>{{ m.created }}</td>
	{% if request.GET.type == None %}<td>{{ m.get_direction_display }}</td>{% endif %}
	<td>
	    {% if m.is_submission %}<span data-toggle='collapse' data-target='#msg_info_{{ m.id }}' class="glyphicon glyphicon-th-list"></span>{% endif %}
	    <span class="alert alert-{% if not m.has_error %}info{% else %}danger{% endif %}">{{ m.text }}</span>
	    <span class="glyphicon glyphicon-{% if m.has_error %}exclamation-sign{% elif m.is_submission %}ok-sign{% elif m.direction == 'O' %}share-alt{% else %}question-sign{% endif %}"></span>
	</td>
	<td><a href="{% url 'django_ccem.views.contacts' %}?contact={{ m.connection.identity }}">{{ m.connection.identity }}</a></td>
	<td>
	    <a href="{% url 'django_ccem.views.facilities' %}?id={{m.connection.dhis2.facility.dhis2_id}}">
	    {{m.connection.dhis2.facility}}
	    </a>
	</td>
</tr>
{% if m.is_submission %}
<tr id='msg_info_{{ m.id }}' class='collapse'>
	<td></td>
	<td colspan=3>
		<table class='table'>
		    <tr>
			<th>Cleaned</th>
			<th>Valid</th>
			<th>Result</th>
		    {% for r in m.report_set.all %}
		    	<tr>
			    <td> {{ r.cleaned }} </td>
			    <td><span class="glyphicon glyphicon-{% if r.has_error %}exclamation-sign{% else %}ok-sign{% endif %}"></span> </td>
			    <td>{% if r.has_error %} 
				{{ r.error }}
				
				{% if forloop.last%} {### Only show fix form on last message ###}
				 </td><td>
				</tr>
				<tr>
				{% if m.has_error  %}
				    <td colspan=4>
					<form class='form-inline' method='POST'>
					    {% csrf_token %}
					    <input type='hidden' name='message' value='{{m.id}}'/>
					    <input class='form-control' type='text' value='{{r.cleaned}}' name='text'></input>
					    <input class='form-control' type='submit' vlue='Fix' name='fix'/>
					    <input class='form-control' type='submit' value='Ignore' name='ignore'/>
					</form>
				{% else %}
				    <td colspan=4>Report Ignored
				{% endif %}
				{% endif %}
			    {% else %}{{ r.commands }}
			    {% endif %} 
			    </td>
			</tr>
		    {% endfor %}
		</table>
	</td>
</tr>
{% endif %}
{% endfor %}
</table>

<div class='pager'>

{% if messages.has_previous %}
	<li><a href="?{% url_replace request 'page' messages.previous_page_number %}">Previous</a></li>
{% else  %}
	<li class='disabled'><a href='#'>Previous</a><li>
{% endif %}

{% if messages.paginator.num_pages > 1 %}
Page <form action='#', method='get'>
	<input type='text' name='page' value='{{messages.number}}'/>
	<input type='submit' value='Go'/>
	</form> of {{messages.paginator.num_pages }}
{% else %}
	Page 1 of 1
{% endif %}
({{ messages.paginator.count }} Messages)

{% if messages.has_next %}
	<li><a href="?{% url_replace request 'page' messages.next_page_number %}">Next</a></li>
{% else  %}
	<li class='disabled'><a href='#'>Next</a></li>
{% endif %}

{% else %}

<div class='panel panel-warning'>
	<div class='panel-heading'>
		<h3 class='panel-title'>Message</h3>
	</div>
	<div class='panel-body'>
		No messages were found for the given query.
	</div>
</div>

{% endif %}

{% endblock %}
